.collapsemainbox {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.innermainbox {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.collapsemain {
    background-color: #f6c3a0;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.collapsed {
    background-color: #ffd6ba;
    width: 90%;
    padding: 1rem 2rem;
}

@media screen and (max-width: 1200px) {
    .innermainbox {
        width: 90vh;
    }
}